[user]
  name = Jean-Denis Vauguet
  email = jd@vauguet.fr
  signinKey = # REPLACE WITH ACTUAL VALUE
[github]
  user = chikamichi
  token = # REPLACE WITH ACTUAL VALUE
[alias]
  br = branch
  ca = commit --amend
  ci = commit
  co = checkout
  grep = grep -p
  l = log --oneline --graph --decorate
  logsigned = log --show-signature -1
  oops = commit --amend --no-edit
  pr = pull --rebase
  st = status -sb
  staged = diff --cached
[color]
  ui = 1
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  autocrlf = input
  compression = 9
[push]
  default = current
[rerere]
  enabled = 0
  # autoupdate = 1
[commit]
  template = /home/jd/.git-commit-template
[help]
  autocorrect = 1
